.searchBar {
  width: 250px;
}
.queryName {
  float: left;
  padding-left: 25px;
}
.searchCont {
  width: 700px;
}
.temp {
  text-align: center;
  font-size: 150px;
}
.humidityValue {
  font-size: 50px;
  text-align: center;
}
.windSpdValue {
  font-size: 50px;
  text-align: center;
}
.pressureValue {
  font-size: 50px;
  text-align: center;
}
.tempCard {
  width: 200px;
  height: 110px;
}
.degreeSymbol, .fSymbol, .mphSymbol, .mbarSymbol {
  font-size: 25px;
}
.currentCond {
  padding-left: 40px;
}
.results {
  line-height: 1;
  margin-bottom: 10px;
}
.hourlyTable {
  display: flex;
  margin-top: 20px;
  width: 400px;
 }
.hourTable, .dataTable {
  width: 100px;
}
.hourBody, .dataBody {
  text-align: center;
  border-top: 0px!important;
}
.timeStamp {
  padding-top: 0px;
}
.tFoot {
  display: none;
}
.tHead {
  display: none;
}
