.searchBar {
  width: 300px;
}
.temp {
  text-align: center;
  font-size: 150px;
}
.humidityValue {
  font-size: 50px;
  text-align: center;
}
.windSpdValue {
  font-size: 50px;
  text-align: center;
}
.pressureValue {
  font-size: 50px;
  text-align: center;
}
.tempCard {
  width: 200px;
  height: 110px;
}
.degreeSymbol, .fSymbol, .mphSymbol, .mbarSymbol {
  font-size: 25px;
}
.currentCond {
  padding-left: 40px;
}
.results {
  line-height: 1;
  margin-bottom: 10px;
}
.hourlyTable {
  margin-top: 20px;
  width: 660px;
 }
.hourCol {
  font-size: 20px;
  display:block;
  width: 100px;
}
.tableBody {
  display: flex;
}
.hourTable {
  display: grid;
  height: 50px;
  font-size: 25px;
  padding-top: 10px;
  width: 125px;
  text-align: center;
}
.dataTable {
  height: 50px;
  font-size: 25px;
  padding-top: 10px;
  width: 250px;
  text-align: center;
}
