.container-fluid {
  margin-top: 50px;
}
.searchBar {
  width: 30%;
  margin: auto;
}
.resultsCurrent {
  margin: auto;
}
.temp {
  font-size: 50px;
  margin-left: 10px;
}
.tempCard {
  width: 200px;
}